#clockContainer{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	background-color:red;
	height: 50vw;
	width: 50vw;
	
	background: url(Clockdial2.png);
	background-size: 100%;
}


#hour, #minute, #second{
	position : absolute;
	border-radius: 10px;
	background: black;
	transform-origin: bottom;
}

#hour{
	width: 2%;
	height: 21.5%;
	top: 29%;
	left: 49%;
	/* opacity: 0.9; */
	background-image: linear-gradient(rgb(92, 91, 91), black);
}

#minute{
	width: 1%;
	height: 30%;
	top: 20.5%;
	left: 49.5%;
	opacity: 0.9;
	background-image: linear-gradient(rgb(85, 81, 81), rgb(39, 37, 37))
}

#second{
	width: 0.5%;
	height: 32%;
	top: 18%;
	left: 49.7%;
	opacity: 1.0;
	background-image: linear-gradient(grey, black)
}

#circle{
	position: absolute;
	border-radius: 50px;
	background: black;
	
	width: 3%;
	height: 3%;
	top: 49%;
	left: 48.5%;
	opacity: 2.0;
}

h1{
	position: absolute;
	font-size: 3vw;
	font-style: comic-sans;
	font-family: "Comic-Sans", sans-serif;
	top: 30%;
	opacity: 0.7;
}


